* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "fuente1";
    src: url(../fuentes/alstoria.ttf);
}

@font-face {
    font-family: "fuente2";
    src: url(../fuentes/sfprodisplayregular.ttf);
}

html {
    font-size: 62.5%; /* 1rem=10px */
}

body {
    background-color: #ffffff;
}

header {
    background-image: url(../imagenes/fondowebyapps.png);
    background-repeat: no-repeat;
    background-position: top;
}

/*barra de navegación*/
.titulo {
    font-family: "fuente1";
    font-size: 4rem;
    color: #ffffff;
    margin: 0.5rem;
}
.navbar {
    padding: 0.5rem 1.5rem;
    margin: 0.1rem 2rem;
}
.navbar-nav {
    padding-left: 22rem;
}
.bg-light {
    background-color: transparent!important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-size: 2.2rem;
    color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 2.2rem;
    color: #ffffff;
    transition: 0.3s;
}
.active:after {
    position: absolute;
    top: 5.8rem;
    left: 76.7rem;
    content: '';
    width: 2.5rem;
    border-bottom: solid 0.5rem #ffffff;
    border-radius: 7rem;
    transition: left 250ms ease-in-out, right 250ms ease-in-out;
    opacity: 1;
}  
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    font-size: 2.5rem;
}
.nav-item {
    margin: 0rem 1rem;
}

/*barra de búqueda de la barra de navegación*/
.barrabusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 4rem;
    background-color: #ddb0ff;
    border-radius: 3rem;
    padding: 2rem;
    margin: 2rem;
}
.barrabusqueda img {
    width: 2rem;
    height: 2rem;
    margin: 0.2rem;
}
.borde {
    border-left: #f8339e solid 0.1rem;
    margin-left: 1rem;
}
input {
    width: 14rem;
    font-family: "fuente2";
    font-size: 1.5rem;
    line-height: none;
    color: #0f0f0f;
    background-color: transparent!important;
    outline: none;
    padding: 0.3rem;
    margin-left: 0.3rem;
} 
::placeholder {
    font-family: "fuente2";
    font-size: 1.5rem;
    color: #0f0f0f;
    padding: 0.5rem;
}
.buscador {
    height: 2.5rem;
    color: #0f0f0f;
    background-color: transparent;
    border: transparent;
    border-radius: none;
}
.flechaizq {
    position: absolute;
    top: 8.5rem;
    left: 4.5rem;
    width: 5rem;
    height: 5rem;
}

/*main*/
main {
    display: flex;
}
.mainwebyapps {
    width: 80rem;
    height: 57rem;
    margin-top: 6rem;
}
.textos {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 8rem;
    margin-right: 9rem;
}
.subtitulo {
    font-family: "fuente1";
    font-size: 8rem;
    color: #ffffff;
    margin-left: 15rem;
    margin-bottom: 1rem;
}
.aclaracion {
    font-family: "fuente2";
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem;
    margin-left: 27.5rem;
}

/*footer*/
footer {
    width: 100%;
    height: 25rem;
    background-image: url(../imagenes/footerwebyapps.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 12rem;
}
.footer__titulo {
    font-family: "fuente1";
    font-size: 5rem;
    text-align: center;
    color: #8f00ff;   
    text-shadow: 0.1rem 0.4rem 0.2rem #9e9e9e;
    padding-top: 3rem;
}
.footer__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem 2rem 0rem;
}
.footer__img img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0rem 2.5rem;
}

@media (max-width: 768px) {
    header {
        background-image: url(../imagenes/fondowebyapps768.png);
    }    

    /*barra de navegación*/
    .titulo {
        margin: 1rem;
        margin-right: 1rem;
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar {
        padding: 0.5rem 1.5rem 2rem 1.5rem;
        margin: 0.1rem 1rem 2rem 1rem;
    }
    .navbar-nav {
        padding-left: 1rem;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .active:after {
        position: absolute;
        top: 0rem;
        left: 0rem;
        width: 0rem;
    }    
    .navbar-toggler {
        background-color: #ffffff;
        border: 0.3rem solid #0f0f0f;
    }

    /*barra de búqueda de la barra de navegación*/
    .barrabusqueda {
        margin: 0.5rem;
    }
    .flechaizq {
        position: absolute;
        top: 12rem;
        left: 4rem;
        width: 4rem;
        height: 4rem;
    }
    
    /*main*/
    .mainwebyapps {
        width: 53rem;
        height: 34rem;
        margin-top: 5rem;
    }
    .textos {
        margin-top: 5rem;
        margin-right: 4rem;
    }
    .subtitulo {
        font-size: 4rem;
        margin-left: 10rem;
        margin-bottom: 1rem;
    }
    .aclaracion {
        font-size: 1.3rem;
        padding: 0.1rem;
        margin-left: 2rem;
    }
    
    /*footer*/
    footer {
        margin-top: 2rem;
    }
    .footer__titulo {
        font-size: 4rem;
        padding-top: 5rem;
    }
    .footer__img img {
        width: 3rem;
        height: 3rem;
    }
}

@media (max-width: 320px) {
    /*barra de navegación*/
    .titulo {
        font-size: 3rem;
        margin: 0.3rem;
    }
    .navbar {
        padding: 0.5rem 1rem;
        padding-bottom: 0rem;
        margin: 0.1rem 0.5rem;
        margin-bottom: 0rem;
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 1.5rem;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        font-size: 1.5rem;
    }
    .navbar-nav {
        padding-left: 0rem;
        -ms-flex-direction: row;
        flex-direction: column;
    }

    /*NO se ve la barra de búqueda de la barra de navegación*/
    .barrabusqueda {
        background-color: transparent;
    }
    .barrabusqueda img {
        width: 0rem;
        height: 0rem;
    }
    .borde {
        border-left: transparent;
    }
    input {
        color: transparent;
    } 
    ::placeholder {
        color: transparent;
    }

    .flechaizq {
        position: absolute;
        top: 6rem;
        left: 26rem;
        width: 4rem;
        height: 4rem;
    }
    
    /*main*/
    main {
        display: flex;
        flex-direction: column;
    }
    .mainwebyapps {
        width: 32rem;
        height: 24rem;
        margin-top: 7rem;
    }
    .textos {
        margin: 0rem 2rem 1.5rem 0rem;
    }
    .subtitulo {
        font-size: 5rem;
        color: #0f0f0f;
        margin-left: 4rem;
        margin-bottom: 0rem;
    }
    .aclaracion {
        font-size: 1.5rem;
        color: #0f0f0f;
        font-weight: bold;
        padding: 1rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    
    /*footer*/
    footer {
        height: 18rem;
        margin-top: 0rem;
    }
    .footer__titulo {
        font-size: 3rem;
        padding-top: 3rem;
    }
    .footer__img img {
        width: 2rem;
        height: 2rem;
        margin: 0rem 2rem;
    }
}